@model OnlineForms.ViewModels.SFN60026DisplayViewModel


@{
    ViewBag.Title = "Print";
}

@section topHeader {
    @Html.Partial("~/Views/Shared/_FormHeader.cshtml", (Dictionary<string, string>)ViewBag.FormInfo)
}
<table id="printTable">
    <tbody>
        <tr class="printRow">
            <td class="printCell" colspan="4">
                @Html.LabelFor(m => m.BonusRecommendationModel.NomineeName)<br />
                <span class="userInput">@Html.DisplayFor(m => m.BonusRecommendationModel.NomineeName)</span>
            </td>
            <td class="printCell" colspan="4">
                @Html.LabelFor(m => m.BonusRecommendationModel.NomineePosition)<br />
                <span class="userInput">@Html.DisplayFor(m => m.BonusRecommendationModel.NomineePosition)</span>
            </td>
            <td class="printCell" colspan="4">
                @Html.LabelFor(m => m.BonusRecommendationModel.NomineeDepartment)<br />
                <span class="userInput">@Html.DisplayFor(m => m.BonusRecommendationModel.NomineeDepartment)</span>
            </td>
        </tr>
        <tr class="printHeading">
            <th colspan="12">
                Justification of Performance Bonus
            </th>
        </tr>
        <tr>
            <td class="printCell" colspan="12">
                <span>Date Range for Nominee's Accomplishments:</span>
            </td>
        </tr>
        <tr>
            <td class="printCell" colspan="6">
                @Html.LabelFor(m => m.BonusRecommendationModel.AccomplishmentStartDate)<br />
                <span class="userInput">@Model.BonusRecommendationModel.AccomplishmentStartDate.ToString("MM/dd/yyyy")</span>
            </td>
            <td class="printCell" colspan="6">
                @Html.LabelFor(m => m.BonusRecommendationModel.AccomplishmentEndDate)<br />
                <span class="userInput">@Model.BonusRecommendationModel.AccomplishmentEndDate.ToString("MM/dd/yyyy")</span>
            </td>
        </tr>
        <tr>
            <td class="printCell" colspan="12">
                @Html.LabelFor(m => m.BonusRecommendationModel.Justification)<br />
                <span class="userInput">@Html.DisplayFor(m => m.BonusRecommendationModel.Justification)</span>
            </td>
        </tr>
        @if (Model.BonusRecommendationModel.CurrentStatus > 4)
        {
            <tr class="printHeading">
                <th colspan="12">
                    Nominee's Eligibility Requirements
                </th>
            </tr>

            <tr>
                <td class="printCell" colspan="12">
                    @Html.LabelFor(m => m.BonusRecommendationModel.StateEmployeeOneYear)<br />
                    <span class="userInput">@((Model.BonusRecommendationModel.StateEmployeeOneYear)?"Yes":"No")</span>
                </td>

            </tr>
            <tr>
                <td class="printCell" colspan="12">
                    @Html.LabelFor(m => m.BonusRecommendationModel.ProbationaryEmployee)
                    <span class="userInput">@((Model.BonusRecommendationModel.ProbationaryEmployee) ?"Yes":"No")</span><br />
                </td>
            </tr>
            <tr>
                <td class="printCell" colspan="12">
                    @Html.LabelFor(m => m.BonusRecommendationModel.FullTime)
                    <span class="userInput">@((Model.BonusRecommendationModel.FullTime) ?"Yes":"No")</span><br />
                </td>
            </tr>
            <tr>
                <td class="printCell" colspan="12">
                    @Html.LabelFor(m => m.BonusRecommendationModel.PartTime)
                    <span class="userInput">@((Model.BonusRecommendationModel.PartTime) ?"Yes":"No")</span><br />
                </td>
            </tr>
            <tr>
                <td class="printCell" colspan="12">
                    @Html.LabelFor(m => m.BonusRecommendationModel.Temporary)
                    <span class="userInput">@((Model.BonusRecommendationModel.Temporary) ?"Yes":"No")</span>
                </td>
            </tr>
            <tr>
                <td class="printCell" colspan="6">
                    @Html.LabelFor(m => m.BonusRecommendationModel.LastBonusDate)<br />
                    <span class="userInput">@((Model.BonusRecommendationModel.LastBonusDate.HasValue && Model.BonusRecommendationModel.LastBonusDate.Value.CompareTo(DateTime.Parse("1/1/2000")) > 0) ? Model.BonusRecommendationModel.LastBonusDate.Value.ToString("MM/dd/yyyy") : "")</span>
                </td>
                <td class="printCell" colspan="6">
                    @Html.LabelFor(m => m.BonusRecommendationModel.LastBonusAmount)<br />
                    <span class="userInput">@Html.DisplayFor(m => m.BonusRecommendationModel.LastBonusAmount)</span>
                </td>
            </tr>
            <tr>
                <td class="printCell" colspan="12">
                    @Html.LabelFor(m => m.BonusRecommendationModel.LastPerformanceScore)<br />
                    <span class="userInput">@Html.DisplayFor(m => m.BonusRecommendationModel.LastPerformanceScore)</span>
                </td>
            </tr>
            <tr>
                <td class="printCell" colspan="12">
                    @Html.LabelFor(m => m.BonusRecommendationModel.HRAction)<br />
                    <span class="userInput">@((Model.BonusRecommendationModel.HRAction) ?"Yes":"No")</span>
                </td>
            </tr>
            <tr>
                <td class="printCell" colspan="12">
                    @Html.LabelFor(m => m.BonusRecommendationModel.MeetsRequirements)<br />
                    <span class="userInput">@((Model.BonusRecommendationModel.MeetsRequirements) ?"Yes":"No")</span>
                </td>
            </tr>
        }
        @if (Model.BonusRecommendationModel.CurrentStatus > 5)
        {
            <tr class="printHeading">
                <th colspan="12">
                    Committee Section
                </th>
            </tr>
            <tr class="printRow">
                <td class="printCell" colspan="6">
                    @Html.LabelFor(m => m.BonusRecommendationModel.CommitteeApproval)<br />
                    <span class="userInput">@Html.DisplayFor(m => m.BonusRecommendationModel.CommitteeApproval)</span>
                </td>
                <td class="printCell" colspan="6">
                    @Html.LabelFor(m => m.BonusRecommendationModel.CommitteeApprovalAmount)<br />
                    <span class="userInput">@Html.DisplayFor(m => m.BonusRecommendationModel.CommitteeApprovalAmount)</span>
                </td>
            </tr>
            <tr class="printRow">
                <td class="printCell" colspan="12">
                    @Html.LabelFor(m => m.BonusRecommendationModel.Comments)<br />
                    <span class="userInput">@Html.DisplayFor(m => m.BonusRecommendationModel.Comments)</span>
                </td>
            </tr>
        }
        <tr class="printHeading">
            <th colspan="12">
                Required Signatures
            </th>
        </tr>
        <tr class="printRow">
            <td class="printCell" colspan="4">
                @Html.LabelFor(m => m.BonusRecommendationModel.SubmitterName)<br />
                <span class="userInput">@Html.DisplayFor(m => m.BonusRecommendationModel.SubmitterName)</span>
            </td>
            <td class="printCell" colspan="4">
                @Html.LabelFor(m => m.BonusRecommendationModel.SubmitterPosition)<br />
                <span class="userInput">@Html.DisplayFor(m => m.BonusRecommendationModel.SubmitterPosition)</span>
            </td>
            @if (Model.BonusRecommendationModel.SubmitterDate.CompareTo(new DateTime(2000, 1, 1)) > 0)
            {
                <td class="printCell" colspan="4">
                    @Html.LabelFor(m => m.BonusRecommendationModel.SubmitterDate)<br />
                    <span class="userInput">@Model.BonusRecommendationModel.SubmitterDate.ToString("MM/dd/yyyy")</span>
                </td>
            }
        </tr>
        @if (Model.BonusRecommendationModel.SubmitterDate.CompareTo(new DateTime(2000, 1, 1)) > 0)
        {
            <tr class="printRow">
                <td class="printCell" colspan="4">
                    @Html.LabelFor(m => m.BonusRecommendationModel.SupervisorSignature)<br />
                    <span class="userInput">@Html.DisplayFor(m => m.BonusRecommendationModel.SupervisorSignature)</span>
                </td>
                @if (Model.BonusRecommendationModel.SupervisorSignatureDate.CompareTo(new DateTime(2000, 1, 1)) > 0)
                {
                    <td class="printCell" colspan="4">
                        @Html.LabelFor(m => m.BonusRecommendationModel.SupervisorSignatureDate)<br />
                        <span class="userInput">@Model.BonusRecommendationModel.SupervisorSignatureDate.ToString("MM/dd/yyyy")</span>
                    </td>
                    <td class="printCell" colspan="4">
                        @Html.LabelFor(m => m.BonusRecommendationModel.SupervisorEndorsement)<br />
                        <span class="userInput">@((Model.BonusRecommendationModel.SupervisorEndorsement) ? "Yes" : "No")</span>
                    </td>
                }
            </tr>
        }
        @if (Model.BonusRecommendationModel.SupervisorSignatureDate.CompareTo(new DateTime(2000, 1, 1)) > 0)
        {
            <tr class="printRow">
                <td class="printCell" colspan="4">
                    @Html.LabelFor(m => m.BonusRecommendationModel.DepartmentSignature)<br />
                    <span class="userInput">@Html.DisplayFor(m => m.BonusRecommendationModel.DepartmentSignature)</span>
                </td>
                @if (Model.BonusRecommendationModel.DepartmentSignatureDate.CompareTo(new DateTime(2000, 1, 1)) > 0)
                {
                    <td class="printCell" colspan="4">
                        @Html.LabelFor(m => m.BonusRecommendationModel.DepartmentSignatureDate)<br />
                        <span class="userInput">@Model.BonusRecommendationModel.DepartmentSignatureDate.ToString("MM/dd/yyyy")</span>
                    </td>
                    <td class="printCell" colspan="4">
                        @Html.LabelFor(m => m.BonusRecommendationModel.DepartmentEndorsement)<br />
                        <span class="userInput">@((Model.BonusRecommendationModel.DepartmentEndorsement) ? "Yes" : "No")</span>
                    </td>
                }
            </tr>
        }
        @if (Model.BonusRecommendationModel.DepartmentSignatureDate.CompareTo(new DateTime(2000, 1, 1)) > 0)
        {
            <tr class="printRow">
                <td class="printCell" colspan="4">
                    @Html.LabelFor(m => m.BonusRecommendationModel.ChiefSignature)<br />
                    <span class="userInput">@Html.DisplayFor(m => m.BonusRecommendationModel.ChiefSignature)</span>
                </td>
                @if (Model.BonusRecommendationModel.ChiefSignatureDate.CompareTo(new DateTime(2000, 1, 1)) > 0)
                {
                    <td class="printCell" colspan="4">
                        @Html.LabelFor(m => m.BonusRecommendationModel.ChiefSignatureDate)<br />
                        <span class="userInput">@Model.BonusRecommendationModel.ChiefSignatureDate.ToString("MM/dd/yyyy")</span>
                    </td>
                    <td class="printCell" colspan="4">
                        Division Chief Review<br />
                        <span class="userInput">@((Model.BonusRecommendationModel.HRRepresentative.Length > 0) ? "Yes":"No")</span>
                    </td>
                }
            </tr>
        }
        @if (Model.BonusRecommendationModel.ChiefSignatureDate.CompareTo(new DateTime(2000, 1, 1)) > 0)
        {
            <tr class="printRow">
                <td class="printCell" colspan="4">
                    @Html.LabelFor(m => m.BonusRecommendationModel.HRRepresentative)<br />
                    <span class="userInput">@Html.DisplayFor(m => m.BonusRecommendationModel.HRRepresentative)</span>
                </td>
                @if (Model.BonusRecommendationModel.HRRepresentativeDate.CompareTo(new DateTime(2000, 1, 1)) > 0)
                {
                    <td class="printCell" colspan="4">
                        @Html.LabelFor(m => m.BonusRecommendationModel.HRRepresentativeDate)<br />
                        <span class="userInput">@Model.BonusRecommendationModel.HRRepresentativeDate.ToString("MM/dd/yyyy")</span>
                    </td>
                    <td class="printCell" colspan="4">
                        Human Resources Review<br />
                        <span class="userInput">@((Model.BonusRecommendationModel.ChiefEndorsement.Length > 0) ? "Yes":"No")</span>
                    </td>
                }
            </tr>
        }
        @if (Model.BonusRecommendationModel.HRRepresentativeDate.CompareTo(new DateTime(2000, 1, 1)) > 0)
        {
            <tr class="printRow">
                <td class="printCell" colspan="4">
                    @Html.LabelFor(m => m.BonusRecommendationModel.ChiefEndorsement)<br />
                    <span class="userInput">@Html.DisplayFor(m => m.BonusRecommendationModel.ChiefEndorsement)</span>
                </td>
                @if (Model.BonusRecommendationModel.ChiefEndorsementDate.CompareTo(new DateTime(2000, 1, 1)) > 0)
                {
                    <td class="printCell" colspan="4">
                        @Html.LabelFor(m => m.BonusRecommendationModel.ChiefEndorsementDate)<br />
                        <span class="userInput">@Model.BonusRecommendationModel.ChiefEndorsementDate.ToString("MM/dd/yyyy")</span>
                    </td>
                }
            </tr>
        }
        @if (Model.BonusRecommendationModel.ChiefEndorsementDate.CompareTo(new DateTime(2000, 1, 1)) > 0)
        {
            <tr class="printRow">
                <td class="printCell" colspan="4">
                    @Html.LabelFor(m => m.BonusRecommendationModel.AgencyDirectorEndorsement)<br />
                    <span class="userInput">@Html.DisplayFor(m => m.BonusRecommendationModel.AgencyDirectorEndorsement)</span>
                </td>
                @if (Model.BonusRecommendationModel.AgencyDirectorEndorsementDate.CompareTo(new DateTime(2000, 1, 1)) > 0)
                {
                    <td class="printCell" colspan="4">
                        @Html.LabelFor(m => m.BonusRecommendationModel.AgencyDirectorEndorsementDate)<br />
                        <span class="userInput">@Model.BonusRecommendationModel.AgencyDirectorEndorsementDate.ToString("MM/dd/yyyy")</span>
                    </td>
                }
            </tr>
        }
        @*<DIV>
            <div class="row row-cols-3 mb-2">
                <div class="col form-floating">
                    @Html.EditorFor(m => m.BonusRecommendationModel.SupervisorSignature, new { htmlAttributes = new { @class = "form-control fw-bold bg-white", @id = "reqSupSig", @Value = Model.BonusRecommendationModel.SupervisorSignature, @readonly = "readonly" } })
                    @Html.LabelFor(m => m.BonusRecommendationModel.SupervisorSignature, htmlAttributes: new { @for = "reqSupSig", @class = "fw-bold" })
                </div>
                @if (Model.BonusRecommendationModel.SupervisorSignatureDate.CompareTo(new DateTime(2000, 1, 1)) > 0)
                {
                    <div class="col form-floating">
                        @Html.EditorFor(m => m.BonusRecommendationModel.SupervisorSignatureDate, new { htmlAttributes = new { @class = "form-control fw-bold bg-white", @id = "reqSupDate", @Value = Model.BonusRecommendationModel.SupervisorSignatureDate.ToString("yyyy-MM-dd"), @type = "date", @readonly = "readonly" } })
                        @Html.LabelFor(m => m.BonusRecommendationModel.SupervisorSignatureDate, htmlAttributes: new { @for = "reqSupDate", @class = "fw-bold" })
                    </div>
                    <div class="col form-floating">
                        <div class="form-control" radio-button-control>
                            @if (Model.BonusRecommendationModel.SupervisorEndorsement)
                            {
                                <label class="pe-4">@Html.RadioButtonFor(m => m.BonusRecommendationModel.SupervisorEndorsement, "true", new { @checked = "checked", @readonly = "readonly" }) Yes</label>
                                <label>@Html.RadioButtonFor(m => m.BonusRecommendationModel.SupervisorEndorsement, false, new { @disabled = "disabled" }) No</label>
                            }
                            else
                            {
                                <label class="pe-4">@Html.RadioButtonFor(m => m.BonusRecommendationModel.SupervisorEndorsement, "true", new { @disabled = "disabled" }) Yes</label>
                                <label>@Html.RadioButtonFor(m => m.BonusRecommendationModel.SupervisorEndorsement, false, new { @checked = "checked", @readonly = "readonly" }) No</label>
                            }
                        </div>
                        @Html.LabelFor(m => m.BonusRecommendationModel.SupervisorEndorsement, htmlAttributes: new { @for = "", @class = "fw-bold req-form-long-label" })
                    </div>
                }
            </div>
            if (Model.BonusRecommendationModel.CurrentStatus >= 2)
            {
            <div>
                <div class="row row-cols-3 mb-2">
                    <div class="col form-floating">
                        @Html.EditorFor(m => m.BonusRecommendationModel.DepartmentSignature, new { htmlAttributes = new { @class = "form-control fw-bold bg-white", @id = "reqDptSig", @Value = Model.BonusRecommendationModel.DepartmentSignature, @readonly = "readonly" } })
                        @Html.LabelFor(m => m.BonusRecommendationModel.DepartmentSignature, htmlAttributes: new { @for = "reqDptSig", @class = "fw-bold" })
                    </div>
                    @if (Model.BonusRecommendationModel.CurrentStatus >= 3)
                    {
                        <div class="col form-floating">
                            @Html.EditorFor(m => m.BonusRecommendationModel.DepartmentSignatureDate, new { htmlAttributes = new { @class = "form-control fw-bold bg-white", @id = "reqDptDate", @Value = Model.BonusRecommendationModel.DepartmentSignatureDate.ToString("yyyy-MM-dd"), @type = "date", @readonly = "readonly" } })
                            @Html.LabelFor(m => m.BonusRecommendationModel.DepartmentSignatureDate, htmlAttributes: new { @for = "reqDptDate", @class = "fw-bold" })
                        </div>
                        <div class="col form-floating">
                            <div class="form-control" radio-button-control>
                                @if (Model.BonusRecommendationModel.DepartmentEndorsement)
                                {
                                    <label class="pe-4">@Html.RadioButtonFor(m => m.BonusRecommendationModel.DepartmentEndorsement, "true", new { @checked = "checked", @readonly = "readonly" }) Yes</label>
                                    <label>@Html.RadioButtonFor(m => m.BonusRecommendationModel.DepartmentEndorsement, "false", new { @disabled = "disabled" }) No</label>
                                }
                                else
                                {
                                    <label class="pe-4">@Html.RadioButtonFor(m => m.BonusRecommendationModel.DepartmentEndorsement, "true", new { @disabled = "disabled" }) Yes</label>
                                    <label>@Html.RadioButtonFor(m => m.BonusRecommendationModel.DepartmentEndorsement, "false", new { @checked = "checked", @readonly = "readonly" }) No</label>
                                }
                            </div>
                            @Html.LabelFor(m => m.BonusRecommendationModel.DepartmentEndorsement, htmlAttributes: new { @for = "", @class = "fw-bold req-form-long-label" })
                        </div>
                    }
                </div>
            </div>
            }
            else
            {
            <div class="col form-floating visually-hidden">
                @Html.EditorFor(m => m.BonusRecommendationModel.DepartmentSignature, new { htmlAttributes = new { @class = "form-control fw-bold bg-white", @id = "reqDptSig", @Value = Model.BonusRecommendationModel.DepartmentSignature, @readonly = "readonly" } })
            </div>
            }
            if (Model.BonusRecommendationModel.CurrentStatus >= 3)
            {
            <div class="row row-cols-3 mb-2">
                <div class="col form-floating">
                    @Html.EditorFor(m => m.BonusRecommendationModel.ChiefSignature, new { htmlAttributes = new { @class = "form-control fw-bold bg-white", @id = "reqChiefSig", @Value = Model.BonusRecommendationModel.ChiefSignature, @readonly = "readonly" } })
                    @Html.LabelFor(m => m.BonusRecommendationModel.ChiefSignature, htmlAttributes: new { @for = "reqChiefSig", @class = "fw-bold" })
                </div>
                @if (Model.BonusRecommendationModel.CurrentStatus >= 4)
                {
                    <div class="col form-floating">
                        @Html.EditorFor(m => m.BonusRecommendationModel.ChiefSignatureDate, new { htmlAttributes = new { @class = "form-control fw-bold bg-white", @id = "reqChiefDate", @Value = Model.BonusRecommendationModel.ChiefSignatureDate.ToString("yyyy-MM-dd"), @type = "date", @readonly = "readonly" } })
                        @Html.LabelFor(m => m.BonusRecommendationModel.ChiefSignatureDate, htmlAttributes: new { @for = "reqChiefDate", @class = "fw-bold" })
                    </div>
                    <div class="col form-floating">
                        <div class="form-control" radio-button-control>
                            <label class="pe-4"><input checked="checked" id="ChiefEndorsement" name="ChiefEndorsement" readonly="readonly" type="radio" value="true" /> Yes</label>
                            <label><input disabled="disabled" id="ChiefEndorsement" name="ChiefEndorsement" type="radio" value="false" /> No</label>
                        </div>
                        <label class="fw-bold req-form-long-label" for="">Division Chief Approval</label>
                    </div>
                }
            </div>
            }
            else
            {
            <div class="col form-floating visually-hidden">
                @Html.EditorFor(m => m.BonusRecommendationModel.ChiefSignature, new { htmlAttributes = new { @class = "form-control fw-bold bg-white", @id = "reqDptSig", @Value = Model.BonusRecommendationModel.ChiefSignature, @readonly = "readonly" } })
            </div>
            }
            if (Model.BonusRecommendationModel.CurrentStatus >= 4)
            {
            <div class="row row-cols-3 mb-2">
                <div class="col form-floating">
                    @Html.EditorFor(m => m.BonusRecommendationModel.HRRepresentative, new { htmlAttributes = new { @class = "form-control fw-bold bg-white", @id = "reqHRSig", @Value = Model.BonusRecommendationModel.HRRepresentative, @readonly = "readonly" } })
                    @Html.LabelFor(m => m.BonusRecommendationModel.HRRepresentative, htmlAttributes: new { @for = "reqHRSig", @class = "fw-bold" })
                </div>
                @if (Model.BonusRecommendationModel.CurrentStatus >= 5)
                {
                    <div class="col form-floating">
                        @Html.EditorFor(m => m.BonusRecommendationModel.HRRepresentativeDate, new { htmlAttributes = new { @class = "form-control fw-bold bg-white", @id = "reqHRDate", @Value = Model.BonusRecommendationModel.HRRepresentativeDate.ToString("yyyy-MM-dd"), @type = "date", @readonly = "readonly" } })
                        @Html.LabelFor(m => m.BonusRecommendationModel.HRRepresentativeDate, htmlAttributes: new { @for = "reqHRDate", @class = "fw-bold" })
                    </div>
                    <div class="col form-floating">
                        <div class="form-control" radio-button-control>
                            <label class="pe-4"><input checked="checked" id="HRApproval" name="HRApproval" readonly="readonly" type="radio" value="true" /> Yes</label>
                            <label><input disabled="disabled" id="HRApproval" name="HRApproval" type="radio" value="false" /> No</label>
                        </div>
                        <label class="fw-bold req-form-long-label" for="">Human Resources Approval</label>
                    </div>
                }
            </div>
            }
            else
            {
            <div class="col form-floating visually-hidden">
                @Html.EditorFor(m => m.BonusRecommendationModel.HRRepresentative, new { htmlAttributes = new { @class = "form-control fw-bold bg-white", @id = "reqDptSig", @Value = Model.BonusRecommendationModel.HRRepresentative, @readonly = "readonly" } })
            </div>
            }
            if (Model.BonusRecommendationModel.CurrentStatus >= 6)
            {
            <div class="row row-cols-2 mb-2">
                <div class="col form-floating">
                    @Html.EditorFor(m => m.BonusRecommendationModel.ChiefEndorsement, new { htmlAttributes = new { @class = "form-control fw-bold bg-white", @id = "reqChiefEndorsementSig", @Value = Model.BonusRecommendationModel.ChiefEndorsement, @readonly = "readonly" } })
                    @Html.LabelFor(m => m.BonusRecommendationModel.ChiefEndorsement, htmlAttributes: new { @for = "reqChiefEndorsementSig", @class = "fw-bold" })
                </div>
                @if (Model.BonusRecommendationModel.CurrentStatus >= 7)
                {
                    <div class="col form-floating">
                        @Html.EditorFor(m => m.BonusRecommendationModel.ChiefEndorsementDate, new { htmlAttributes = new { @class = "form-control fw-bold bg-white", @id = "reqChiefEndorsementDate", @Value = Model.BonusRecommendationModel.ChiefEndorsementDate.ToString("yyyy-MM-dd"), @type = "date", @readonly = "readonly" } })
                        @Html.LabelFor(m => m.BonusRecommendationModel.ChiefEndorsementDate, htmlAttributes: new { @for = "reqChiefEndorsementDate", @class = "fw-bold" })
                    </div>
                }
            </div>
            }
            else
            {
            <div class="col form-floating visually-hidden">
                @Html.EditorFor(m => m.BonusRecommendationModel.ChiefEndorsement, new { htmlAttributes = new { @class = "form-control fw-bold bg-white", @id = "reqDptSig", @Value = Model.BonusRecommendationModel.ChiefEndorsement, @readonly = "readonly" } })
            </div>
            }
            if (Model.BonusRecommendationModel.CurrentStatus >= 7)
            {
            <div class="row row-cols-2 mb-2">
                <div class="col form-floating">
                    @Html.EditorFor(m => m.BonusRecommendationModel.AgencyDirectorEndorsement, new { htmlAttributes = new { @class = "form-control fw-bold bg-white", @id = "reqAgySig", @Value = Model.BonusRecommendationModel.AgencyDirectorEndorsement, @readonly = "readonly" } })
                    @Html.LabelFor(m => m.BonusRecommendationModel.AgencyDirectorEndorsement, htmlAttributes: new { @for = "reqAgySig", @class = "fw-bold" })
                </div>
                @if (Model.BonusRecommendationModel.CurrentStatus >= 8)
                {
                    <div class="col form-floating">
                        @Html.EditorFor(m => m.BonusRecommendationModel.AgencyDirectorEndorsementDate, new { htmlAttributes = new { @class = "form-control fw-bold bg-white", @id = "reqAgyDate", @Value = Model.BonusRecommendationModel.AgencyDirectorEndorsementDate.ToString("yyyy-MM-dd"), @type = "date", @readonly = "readonly" } })
                        @Html.LabelFor(m => m.BonusRecommendationModel.AgencyDirectorEndorsementDate, htmlAttributes: new { @for = "reqAgyDate", @class = "fw-bold" })
                    </div>
                }
            </div>
            }
            else
            {
            <div class="col form-floating visually-hidden">
                @Html.EditorFor(m => m.BonusRecommendationModel.AgencyDirectorEndorsement, new { htmlAttributes = new { @class = "form-control fw-bold bg-white", @id = "reqDptSig", @Value = Model.BonusRecommendationModel.AgencyDirectorEndorsement, @readonly = "readonly" } })
            </div>
            }
            <div class="row formRow visually-hidden">
                @Html.EditorFor(m => m.BonusRecommendationModel.CurrentStatus, new { htmlAttributes = new { @class = "form-control bg-white", @id = "currentStatus", @Value = Model.BonusRecommendationModel.CurrentStatus, @readonly = "readonly" } })
                @Html.EditorFor(m => m.BonusRecommendationModel.FormSubmitted, new { htmlAttributes = new { @class = "form-control bg-white", @id = "formSubmitted", @Value = Model.BonusRecommendationModel.FormSubmitted, @readonly = "readonly" } })
                @Html.EditorFor(m => m.BonusRecommendationModel.ID, new { htmlAttributes = new { @class = "form-control bg-white", @id = "ID", @Value = @ViewBag.ID, @readonly = "readonly" } })
                @Html.EditorFor(m => m.BonusRecommendationModel.CommitteeApprovalList, new { htmlAttributes = new { @class = "form-control fw-bold bg-white", @id = "reqDptSig", @Value = Model.BonusRecommendationModel.CommitteeApprovalList, @readonly = "readonly" } })
                @Html.EditorFor(m => m.BonusRecommendationModel.CommitteeApprovalDate, new { htmlAttributes = new { @class = "form-control fw-bold bg-white", @id = "reqHRDate", @Value = Model.BonusRecommendationModel.CommitteeApprovalDate.ToString("yyyy-MM-dd"), @type = "date", @readonly = "readonly" } })
            </div>
        </DIV>*@
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">


        function onSubmitButtonClicked() {
            window.location.href = "SFN60026Create";
            alert("Form has successfully been submitted.");
        }

        function onCancelButtonClicked() {
            var cancel = confirm("Are you sure you want cancel? Changes made to this page will be lost. Click OK to proceed.");
            if (cancel) {
                window.location.href = "SFN60026";
            }
        }


    </script>
}



